body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    font-size: 12px;
}

.task-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    width: 90%;
}

.links-container {
    display: flex;
    gap: 20px;
    width: 100%;
}

.task-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
}

.task-personal {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: auto;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 5px 0;
    font-size: 1.2rem;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    background-color: #fff;
}

.task-personal:hover {
    background-color: #f5f5f5;
    transition: background-color 0.3s ease;
    padding: 20px 20px;
}
th {
    font-size: 12px;
}


.nav-link {
    text-decoration: none;
    color: #007bff;
    padding: 5px 10px;
    white-space: nowrap;
}

.task-personal form {
    display: flex;
    align-items: right;
    gap: 50px;
}

.task-personal form input[type="text"] {
    padding: 5px;
}

.task-personal form input[type="submit"] {
    padding: 5px 10px;
}

.pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.pagination-link {
    margin: 0 5px;
    padding: 8px 12px;
    text-decoration: none;
    color: #007bff;
    border: 1px solid #007bff;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

.pagination-link:hover {
    background-color: #007bff;
    color: white;
}




\