{% include 'head.html' %}

<table width="50%" align="center">
    <tr>
        <th valign="2"><br><br><br><br>
            <br><br>
            <form method="post" action="/drop_file" enctype="multipart/form-data">
                <label>Удалить файл по ID :&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;  </label>
                <input type="text" name="id" required  pattern=".{1,}"
                       title="Введите не менее одного символа">
                <input type="submit" value="Удалить">
            </form>
        </th>
    <tr>
    <tr>
        <th>
            {{ success }}
        </th>
    </tr>
</table>